<h1>view_helper_test</h1>

<br><%= text_field :book, :title %></br>

<br><%= number_field :book, :price %></br>

<br><%= text_area :book, :isbn %></br>

<br><%= check_box :book, :cd ,{}, 1,0 %>1年</br>

<br><%= radio_button :user ,:color, "red" %>赤</br>

<br><%= select :user, :address,["出雲市","松江市","雲南市"] %></br>

<br><%= link_to "出雲商業","http://www.shimanet.ed.jp/izusho/" %></br>

<select id="book_publish" name="book[publish]">  
<option value="1">技術評論社</option>  
<option value="2">マイナビ</option>  
</select>  

<%= image_tag "みずあめ.jpg" %>