<!DOCTYPE html>
<html>
<head>

<div align = "right">
ログインユーザー：<%= session[:username]%>
<%= link_to "ログアウト",controller: :login,action: :index %>
</div>

<%= image_tag "railbook.png" %>

<ul>

  <il><%= link_to"書籍一覧",books_path %></il><br>
  <il><%= link_to"出版社一覧",publishes_path %></il><br>
  <li><%= link_to "レビュー 一覧", reviews_path %></li>
  <li><%= link_to "ユーザー 一覧", users_path %></li>

  <title>Railbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
